
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    margin:0;
    padding: 0;;
}
.h{
    background:#FFF8F3;
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    border: 2px solid black;
    background-position: top left,bottom right;
}
/* nevigation */

.n2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(49, 26, 123);
    margin: 0 230px;
}
.n3{
    font-weight: 800;
    font-size: 45px;
}
.n31{
    color: #FD6E0A
}
.n4{
    display:flex;
    font-size: 20px;
}
.n4 div{
    margin:10px;
}
.n41{
    display: flex;
    color:#474747;
}

.n42{
    background-color: #FD6E0A;
    height:65px;
    width: 150px; 
    color: white;
    font-weight: bold;
    border-radius: 6px;
    align-content: center;
    text-align: center;  
}
.b1{
    display: flex;
    border: 2px solid greenyellow;
    justify-content: space-between;
}
.b11{
    max-width: 580px;
    border: 2px solid rgb(3, 3, 0);
    margin-top: 300px;
    margin-left: 185px;
}
.b111{
    color:#474747;
    font-size: 45px;
    height: 60px;
    width: 180px;
}
.b112{
    color:#181818;
    font-size: 85px;
    font-weight: 700;
}
.b113{
    color:#757575;
    font-size: 20px;
    height: 60px;
    width: 585px;
    margin: 15px
}
.b114{
    display: flex;
    margin-top:50px;
    gap:30px;
    border: 2px solid blue;
}
.b1141{
    background-color: #FD6E0A;
    height: 65px;
    width: 200px;
    border-radius:3px;
    font-size: 20px;
    font-weight: 700;
    align-content: center;
    text-align: center;
    color: white;
}
.b1142{
    height: 65px;
    width: 200px;
    border: 2px solid#FD6E0A;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 700;
    align-content: center;
    text-align: center;
    color:#FD6E0A;
}
.b12{
    max-height:675px;
    max-width:580px;
    margin-top: 50px;
    margin-right:40px;
    border: 2px solid palevioletred;
}